.container {
  background: #282d30;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  min-height: 280px;
}

@media (max-width: 600px) {
  .container {
    padding: 12px;
  }
}
