.container {
  background-color: #fbfbfb;
  border-radius: 5px;
  padding: 30px;
  width: 100%;
  height: 320px;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.02);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.title {
  font-size: 18px;
  font-weight: 500;
  color: #20253A;
  margin: 0;
}

.legend {
  display: flex;
  gap: 32px;
  font-size: 14px;
  color: #74798C;
  font-weight: 500;
}

.legendItem {
  display: flex;
  align-items: center;
  gap: 8px;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 8px;
}

.dotWeight {
  background-color: #282D30;
}

.dotCalories {
  background-color: #E60000;
}

.chartContainer {
  width: 100%;
  height: 200px;
}
