

.navigation{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;

  & a{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
  }
}

.logo{
  width: 175px;
}