.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.smallChartsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
}

@media (max-width: 1024px) {
  .smallChartsGrid {
    grid-template-columns: 1fr;
  }
}
