.container {
  display: flex;
  flex-direction: column;
}

.mainGrid {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 24px;
  margin-top: 24px;
}

@media (max-width: 1200px) {
  .mainGrid {
    grid-template-columns: 1fr;
  }
}
