.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
}

@media (max-width: 1200px) {
  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
  }
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }
}
